.modalInputLabel {
  margin-bottom: 18px;
}

.commentsInputWrapper {
  margin-top: 12px;
}

.mapWrapper {
  margin-left: 24px;
}

.sideNote {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  color: var(--night600);
  font-family: var(--uui-font);
}
