.wrapper {
  margin: 36px 144px 60px;
}

.pageTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}

.contentWrapper {
  background-color: white;
  min-height: 748px;
  box-shadow: 0px 2px 10px 0px #1d1e261a;
  box-shadow: 0px 1px 2px 0px #1d1e261a;
}

.headerTendersCta {
  float: right;
}

.statusInput,
.citiesInput {
  width: 250px;
  min-height: 36px;
  height: fit-content;
  margin-right: 12px !important;
}

.filtersWrapper {
  margin: 15px 24px 30px 24px;
}

.creatorFilter button {
  margin-right: 9px;
  &:last-child {
    margin-right: 24px;
  }
}

.searchField {
  width: 210px;
}

.prefix {
  color: var(--night500);
  min-height: 36px;
  height: fit-content;
}

.inputHolder {
  display: flex;
}

@media only screen and (max-width: 1227px) {
  .wrapper {
    margin: 36px 30px 60px;
  }
  .filtersWrapper {
    flex-direction: column;
  }
  .inputHolder,
  .searchField,
  .statusInput,
  .citiesInput {
    width: 100%;
  }

  .statusInput,
  .citiesInput {
    margin-right: 0 !important;
  }

  .creatorFilter,
  .statusInput,
  .prefix,
  .citiesInput {
    margin-bottom: 6px;
  }
  .pickerInputHolder {
    flex-direction: column;
    width: 100%;
  }
  .prefix {
    width: 35%;
  }
}
