.wrapper {
  margin: 36px 144px 60px;
  box-shadow: 0px 1.9649122953414917px 3.9298245906829834px 0px #1d1e261a;
  box-shadow: 0px 0px 1.9649122953414917px 0px #1d1e260d;
}

.pageTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}

.contentWrapper {
  background-color: white;
  min-height: 748px;
}

.emptyFolderIcon {
  height: 200px;
  margin: 30px 0;
}

.tenders {
  margin: 0 auto;
  text-align: center;
  button {
    margin: 0 auto;
  }
}

.tendersTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.tendersDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto 30px auto;
  color: var(--night600);
  max-width: 500px;
}

.headerTendersCta {
  float: right;
}

@media only screen and (max-device-width: 1227px) {
  .wrapper {
    margin: 36px 30px 60px;
  }
}
