.stepWrapper {
  flex: 50%;
}

.stepWrapper:nth-child(even) {
  align-items: flex-end;
}

.step {
  margin-bottom: 120px;
}

.offsetStart {
  margin-top: 90px;
}

.offsetEnd {
  margin-bottom: 30px;
}

.stepNumber {
  color: var(--night500);
  font-size: 36px;
  line-height: 40px;
  font-family: var(--font-museo-sans);
  margin: 0;
  font-weight: 600;
}

.stepTitle {
  margin: 0;
  padding-top: 12px;
  color: var(--night950);
  font-size: 18px;
  line-height: 24px;
  font-family: var(--uui-font);
  font-weight: 600;
  padding-bottom: 0;
}

.stepDescription {
  color: var(--night700);
  font-family: var(--uui-font);
  width: 470px;
}

.stepLink {
  text-transform: uppercase;
}

@media only screen and (max-device-width: 767px) {
  .offsetEnd,
  .offsetStart {
    margin-bottom: 0;
    margin-top: 0;
  }
  .stepWrapper:nth-child(even) {
    align-items: baseline;
  }
  .stepWrapper:last-child {
    margin-bottom: 60px;
  }
  .stepDescription {
    width: 335px;
  }
  .step {
    margin-bottom: 30px;
  }
  .stepIcon {
    display: none;
  }
}
