.wrapper {
  margin: 36px 144px 60px;
  box-shadow: 0px 1.9649122953414917px 3.9298245906829834px 0px #1d1e261a;
  box-shadow: 0px 0px 1.9649122953414917px 0px #1d1e260d;
}

.pageTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}

.pageBackCta {
  width: max-content;
}

.contentWrapper {
  background-color: white;
  min-height: 748px;
}

.sectionHeadline {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}

.contentBody {
  padding: 24px 24px 0 24px;
}

.contentFooter {
  padding: 24px;
}

.inputLabel,
.indicateLink {
  margin-bottom: 24px;
}

.indicateLink {
  width: max-content;
}

.ownerDetailsRow,
.locationDetailsRow {
  padding-top: 0px;
  min-height: 24px !important;
  padding-bottom: 6px;
  align-items: flex-start;
  div {
    min-width: 132px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  div:first-child {
    color: var(--night600);
  }
}

.emailInfoAlert {
  margin-top: 6px;
  margin-bottom: 24px;
  border-width: 1px 1px 1px 6px;
  border-color: var(--sun-50);
  border-style: solid;
}

.separator {
  border: 0.5px solid var(--night400);
  margin-top: 30px;
  background-color: white;
}

.draftCta {
  margin-right: 12px;
}

.orderDetailsWrapper {
  display: inline-block;
  min-width: 132px;
}

.rangeDatePickerWrapper,
.categoryPickerWrapper {
  margin-right: 24px;
}

.commentsInputWrapper {
  margin-top: 12px;
}

.sideNote {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  color: var(--night600);
  font-family: var(--uui-font);
}

@media only screen and (max-device-width: 1227px) {
  .wrapper {
    margin: 36px 24px 60px;
  }
  .mapWrapper {
    display: none;
  }

  .ownerDetailsRow,
  .locationDetailsRow {
    flex-direction: column;
  }
}
