@use '~@epam/promo/assets/styles/fonts' as *;

.blockWrapper:nth-child(2n) {
  justify-content: flex-end;
}

.block {
  width: 470px;
}

.blockNumber {
  color: #acafbf;
  font-size: 36px;
  line-height: 40px;
  font-family: var(--font-museo-sans);
  margin: 0;
  font-weight: 600;
}

.blockTitle {
  margin: 0;
  padding-top: 12px;
  color: #111111;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--uui-font);
  font-weight: 600;
}

.blockDescription {
  margin: 0;
  padding-top: 18px;
  color: #474a59;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--uui-font);
  font-weight: 400;
}

.sectionContentWrapper {
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 1.9649122953414917px 3.9298245906829834px 0px #1d1e261a,
    0px 0px 1.9649122953414917px 0px #1d1e260d;
}

.tenderCard {
  padding: 18px 24px;
  background: #ffffff;
  box-shadow: 0px 1.9649122953414917px 3.9298245906829834px 0px #1d1e261a,
    0px 0px 1.9649122953414917px 0px #1d1e260d;
  margin-bottom: 6px;
}

.meta {
  justify-content: space-between;
  width: 100%;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.rightColumn {
  text-align: right;
}

.firstRow,
.secondRow {
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.tag {
  margin-right: 6px;
}

.verticalDivider {
  border: 0.5px solid #ced0db;
  margin: 0 6px;
  height: 100%;
}

.location {
  padding: 0 6px;
  display: flex;
  color: #303240;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--uui-font);
  svg {
    fill: #acafbf;
  }
}

.author,
.postedDate,
.delivery {
  color: #6c6f80;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--uui-font);
  span {
    font-weight: 400;
    color: #111111;
  }
}

.delivery {
  margin-top: 9px;
  justify-content: flex-end;
}

.statusIndicator {
  margin: 0 3px 0 9px;
}

.status {
  justify-content: flex-end;
  font-weight: 400;
  font-family: var(--uui-font);
  font-size: 12px;
  line-height: 12px;
  color: #111111;
}

.tenderTitle {
  font-weight: 600;
  font-family: var(--uui-font);
  font-size: 16px;
  line-height: 24px;
  color: #303240;
  margin-right: 12px;
}

.description {
  font-weight: 400;
  font-family: var(--uui-font);
  font-size: 16px;
  line-height: 24px;
  color: #303240;
}

.smallProposalCard {
  width: 50%;
  min-height: 0 !important;
}

.proposalInfo {
  padding: 0 12px;
}

.proposalLikes {
  font-weight: 400;
  font-family: var(--uui-font);
  font-size: 12px;
  line-height: 18px;
  color: #111111;
  svg {
    fill: #6c6f80;
    cursor: pointer;
    margin-right: 3px;
  }
}

.proposalLink {
  font-weight: 400;
  font-family: var(--uui-font);
  font-size: 16px;
  line-height: 24px;
  color: #0a68f1;
  text-decoration: underline;
  cursor: pointer;
}

.proposalAuthorInfo {
  display: flex;
}

.proposalAuthorPic {
  height: 36px;
  width: 36px;
  margin-right: 12px;
}

.proposalAuthorRole {
  font-weight: 400;
  font-family: var(--uui-font);
  font-size: 12px;
  line-height: 18px;
  color: #6c6f80;
  margin: 0;
}

.proposalAuthorName {
  font-weight: 600;
  font-family: var(--uui-font);
  font-size: 12px;
  line-height: 18px;
  color: #303240;
  margin: 0;
}

.proposalAuthorTitle {
  font-weight: 600;
  font-family: var(--uui-font);
  font-size: 12px;
  line-height: 18px;
  color: #6c6f80;
  padding: 0;
}

.proposalAuthorSocials svg {
  fill: #6c6f80;
  padding: 0 4.5px;
}

.proposalsTitle {
  font-weight: 600;
  font-family: var(--uui-font);
  font-size: 14px;
  line-height: 18px;
  color: #474a59;
  margin: 0;
}

.bigProposalCard {
  background: #ffffff;
  box-shadow: 0px 1.9649122953414917px 3.9298245906829834px 0px #1d1e261a,
    0px 0px 1.9649122953414917px 0px #1d1e260d;
  margin-bottom: 6px;
  display: flex;
}

.bigProposalCardThumb {
  display: block;
}

.bigProposalCardContent {
  width: 100%;
  padding: 18px 24px 24px 24px;
}

.bigCardProposalAuthorWrapper {
  display: flex;
  .proposalAuthorInfo {
    margin-right: 32px;
  }
}

.thirdRow {
  display: flex;
  justify-content: space-between;
}

.related {
  color: #6c6f80;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--uui-font);
  span {
    font-weight: 400;
    color: #0a68f1;
    text-decoration: underline;
    cursor: pointer;
  }
}

.liked svg {
  fill: #07a956;
}

.proposalCtas {
  display: flex;
  margin-top: 24px;
  button {
    margin-right: 12px;
  }
}

.proposalCardTitleWrapper {
  display: flex;
  align-items: center;
  button {
    border-radius: 3px !important;
    padding: 3px !important;
    min-height: auto !important;
    svg {
      width: 12px;
      height: 12px;
    }
    .uui-icon {
      padding: 0 !important;
    }
  }
}

.sectionHeadline {
  display: flex;
  align-items: flex-end;
  margin: 30px 0;
  h3 {
    font-weight: 700;
    font-family: var(--uui-font);
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-right: 12px;
  }
  a {
    min-height: 0;
  }
}

.sectionAlignment {
  margin: 30px 120px;
}
