.avatar {
  margin: 10px 0;
  width: 110px;
  height: 110px;
}
.modalWrapper {
  max-width: 580px !important;
  width: 100% !important;
}
.buttonWrapper {
  margin-right: 12px;
}

.inputImg {
  display: none;
}
